#Run sql from python
#!pip install ipython-sql
#!pip install pyscopg2
#SQLAlchemy is ORM and needs native database lib. Pandas uses it internally

In [6]:
%load_ext sql

In [7]:
import os
os.environ.update({'DB_HOST' : 'localhost'})

In [8]:
os.environ.get('DB_HOST')

'localhost'

In [17]:
%env DATABASE_URL=postgresql://retail_db_user:Ss0061933!@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_db_user:Ss0061933!@localhost:5432/retail_db

In [ ]:
%%sql
select * from orders limit 10

In [22]:

sql_query='''select * from orders limit 10'''

In [23]:
import pandas as pd

DATABASE_URL="postgresql://retail_db_user:Ss0061933!@localhost:5432/retail_db"
pd.read_sql(sql_query,DATABASE_URL)

   order_id order_date  order_customer_id     order_status
0         1 2013-07-25              11599           CLOSED
1         2 2013-07-25                256  PENDING_PAYMENT
2         3 2013-07-25              12111         COMPLETE
3         4 2013-07-25               8827           CLOSED
4         5 2013-07-25              11318         COMPLETE
5         6 2013-07-25               7130         COMPLETE
6         7 2013-07-25               4530         COMPLETE
7         8 2013-07-25               2911       PROCESSING
8         9 2013-07-25               5657  PENDING_PAYMENT
9        10 2013-07-25               5648  PENDING_PAYMENT

## Write file data to tables

In [26]:
import json
def get_column_names(schemas,ds_names,sorting_key='column_position'):
    col_details=schemas[ds_names]
    cols=sorted(col_details,key=lambda col:col[sorting_key])
    return [col['column_name'] for col in cols]

schemas=json.load(open('F:/GitHub/PythonDataEngineering/PythonSQL/03_Postgre_Python/data-master/retail_db/schemas.json'))

columns=get_column_names(schemas,'orders')

columns

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [50]:
#Read data in chunks , as for big files , it may give errors
ds_name='orders'
df=pd.read_csv(f'F:/GitHub/PythonDataEngineering/PythonSQL/03_Postgre_Python/data-master/retail_db/{ds_name}/part-00000',
               names=columns,
               chunksize=10000)

In [51]:
for idex,df_c in enumerate(df):
    print(f'Processing chunck {idex}  with size {df_c.shape[0]} of file {ds_name}')
    #To populate data in table 
    df_c.to_sql(
    'orders',
    DATABASE_URL,
    if_exists='append',
    index=False)

orders_df=pd.read_sql(ds_name,DATABASE_URL)
orders_df['order_id'].count()

Processing chunck 0  with size 10000 of file orders
Processing chunck 1  with size 10000 of file orders
Processing chunck 2  with size 10000 of file orders
Processing chunck 3  with size 10000 of file orders
Processing chunck 4  with size 10000 of file orders
Processing chunck 5  with size 10000 of file orders
Processing chunck 6  with size 8883 of file orders

68883

68883

In [ ]:
df_reader=pd_csv