# Import lib | config

In [77]:
import boto3
import pandas as pd
from io import StringIO
from datetime import *

# Adapter layer 
# Establish source & Target connection | Read from input  files | Write to Target files

In [78]:
def read_csv_to_df(src_bucket, src_file, decoding = 'utf-8', sep = ','):
    csv_obj = src_bucket.Object(key=src_file).get().get('Body').read().decode(decoding)
    data = StringIO(csv_obj)
    df = pd.read_csv(data, delimiter=sep)
    return df

In [79]:
def write_df_to_s3(trg_bucket, df, trgt_file):
    out_buffer = StringIO()
    df.to_csv(out_buffer, index=False)
    trg_bucket.put_object(Body=out_buffer.getvalue(), Key=key)
    return True

# Application layer | Transformation Logic

In [80]:
def transform_report(df_stage, trgt_file_columns):
    df_stage = df_stage.loc[:, trgt_file_columns]
    df_stage.dropna(inplace=True)
    
    #Add all transformation steps here 
    return df_stage

def load(trg_bucket, df_stage, trgt_file):
    # Add any other intermediate steps here
    write_df_to_s3(trg_bucket, df_stage, trgt_file)
    return True

# Invoke ETl
def etl_report(df, trgt_file_columns, trg_bucket, trgt_file):
    df = transform_report(df, trgt_file_columns)
    load(trg_bucket, df, trgt_file)
    return True

# main function entrypoint

In [81]:
def main():
    # Parameters/Configurations
    # Later read config

    arg_date_format = '%Y-%m-%d'
    src_bucket = 'buckets3stocholm'
    src_file   =  'employees.csv'
    file_ext   ='.csv'
   
    trg_bucket = 'buckets3stocholm'
    trgt_file_columns = ['EMPLOYEE_ID','HIRE_DATE', 'JOB_ID', 'SALARY', 'MANAGER_ID', 'DEPARTMENT_ID']
    trgt_file ='employees_op_'+ datetime.today().strftime(arg_date_format)+file_ext
        
    # Initialization
    s3 = boto3.resource('s3')
    src_bucket = s3.Bucket(src_bucket)
    trg_bucket = s3.Bucket(trg_bucket)
    
    # run application
    #read
    df =read_csv_to_df(src_bucket, src_file)
    
    #etl and load 
    etl_report(df, trgt_file_columns, trg_bucket, trgt_file)

# Run the Main function

In [82]:
main()

# Reading uploaded file  | Testing

In [83]:
trg_bucket = 'buckets3stocholm'
trgt_file ='employees_op_'+ datetime.today().strftime(arg_date_format)+file_ext

s3 = boto3.resource('s3')
trg_bucket = s3.Bucket(trg_bucket)

for obj in  trg_bucket.objects.all():
    if (obj.key==key):
        print(obj.key)
        csv_obj=trg_bucket.Object(key=obj.key).get().get('Body').read().decode('utf8')
        data=StringIO(csv_obj)
        emp_target=pd.read_csv(data,delimiter=',')

employees_op_20230407_204855.csv

In [84]:
 emp_target

     EMPLOYEE_ID   HIRE_DATE      JOB_ID  SALARY  MANAGER_ID  DEPARTMENT_ID
0            101  12/07/2011       AD_VP   17000       100.0           90.0
1            102  03/31/2015       AD_VP   17000       100.0           90.0
2            103  03/20/2012     IT_PROG    9000       102.0           60.0
3            104  08/05/2013     IT_PROG    6000       103.0           60.0
4            105  09/10/2019     IT_PROG    4800       103.0           60.0
..           ...         ...         ...     ...         ...            ...
100          202  11/02/2019      MK_REP    6000       201.0           20.0
101          203  08/22/2016      HR_REP    6500       101.0           40.0
102          204  08/22/2016      PR_REP   10000       101.0           70.0
103          205  08/22/2016      AC_MGR   12000       101.0          110.0
104          206  08/22/2016  AC_ACCOUNT    8300       205.0          110.0

[105 rows x 6 columns]