# Project Details
1. Read the project folder retail_db containing sub folders for 
 categories,orders,order_items,customers,products

2. Each of this folder contains the respective files

3. Loop throgh this folder , conver it to json using pandas and write it to target
retail_db_jsn folder

In [2]:
import pandas as pd
import glob
import json
import re # regular expression
import os

In [3]:
#get dir and sub directory list /**
#glob.glob('F:/GitHub/PythonDataEngineering/PythonSQL/03_Postgre_Python/data-master/retail_db/**',recursive=True)
##get only the files in all subfolders /*/*
# Also to filter the file name with specific pattern we /*/part**
src_file_names=glob.glob('F:/GitHub/PythonDataEngineering/PythonSQL/03_Postgre_Python/data-master/retail_db/*/part*'    )

In [4]:
## Get the Column headers to prepare JSON
def get_column_names(schemas,ds_name,sorting_key='column_position'):
    column_Details=schemas[ds_name]
    columns=sorted(column_Details,key=lambda col:col[sorting_key])
    return [col['column_name'] for col in columns]

In [5]:
#get the file names from file path
schemas=json.load(open(
    'F:/GitHub/PythonDataEngineering/PythonSQL/03_Postgre_Python/data-master/retail_db/schemas.json'
))
for file in src_file_names:
    file_path_list=(re.split('[//\\\]',file)) # covert file path into list  
    ds_name=file_path_list[-2] # here we will get the ds name ex orders
    file_name=file_path_list[-1]
    ds_columns=get_column_names(schemas,ds_name) # get the list of ds
    
    #Reading a file as a csv    
    df=pd.read_csv(file,names=ds_columns)
    #print(f'Shape of file {ds_name}/{file_name} is - {df.shape}')

    #output jsonfie path 
    # Writing this files to output  JSON dir
    op_dir='F:/GitHub/PythonDataEngineering/PythonSQL/03_Postgre_Python/data-master/retail_db_json'

    json_file_path=f'{op_dir}/{ds_name}/{file_name}'

    os.makedirs(f'{op_dir}/{ds_name}',exist_ok=True)
    # Write files to op folder
    df.to_json(json_file_path,orient='records',lines=True)

In [6]:
df

,product_id,product_cateogry_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,NaN,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,NaN,199.99,http://images.acmesports.sports/Riddell+Youth+...
...,...,...,...,...,...,...
1340,1341,59,Nike Women's Cleveland Browns Johnny Football,NaN,34.00,http://images.acmesports.sports/Nike+Women%27s...
1341,1342,59,Nike Men's St. Louis Rams Michael Sam #96 Nam,NaN,32.00,http://images.acmesports.sports/Nike+Men%27s+S...
1342,1343,59,Nike Men's Home Game Jersey St. Louis Rams Mi,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1343,1344,59,Nike Men's Home Game Jersey St. Louis Rams Aa,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1344,1345,59,Nike Men's Home Game Jersey St. Louis Rams Gr,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...

In [ ]:

for file in src_file_names:
    file_path_list=(re.split('[//\\\]',file)) # covert file path into list  
    ds_name=file_path_list[-2] # here we will get the ds name ex orders
    file_name=file_path_list[-1]
   
    print(json_file_path)